/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e8d3d8;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #c6c4af;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header styles */
header {
    text-align: center;
    padding: 20px;
    background-color: #72838e;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* About Us section styles */
.about-us-section h2 {
    color: #00050a;
}

.about-us-section ul {
    list-style-type: square;
}

.about-us-section ul li {
    padding: 5px 0;
}

/* Contact Us section styles */
.contact-us-section h2 {
    color: #00050b;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #a7f4ec;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00050a;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #72838e;
    color: white;
}